
<br>
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-white text-center bg-dark mb-3"">
                <div class="card-header">
                    <h5 class="card-title">Total bid value</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{bid_val}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-white text-center bg-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title">Active Auction Value</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{auc_val}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-white text-center bg-dark mb-3">
                <div class="card-header">
                    <h5 class="card-title">Active Auctions</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_auctions}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>